@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

// Color Argument

@main-color: #0ca8c9;
@bgcolor: #000;

@text-color: #525252;
@number : #999999;
@hr : #ededed;



html,
body {
	max-width: 1920px;
	height: 100%;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
    padding: 0;
    border: 0;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
}

input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;

}
.text-value (@_font-size : @font-size, @_line-height : @line-height, @_font-weight : @font-weight, @_letter-spacing : @letter-spacing) {
    font-size: @_font-size;
    line-height: @_line-height;
    font-weight: @_font-weight;
    letter-spacing: @_letter-spacing;	    	

}
.slider-action (@_value : @value)
{
    -webkit-transition: @_value;
    -o-transition: @_value;
    transition: @_value;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

h4 {
    .text-value (30px, 30px, 600, 0.3px);
	text-transform: uppercase;
}

h5 {
    .text-value (17px, 30px, 500, 0.15px);
}

